In [3]:
import openai as op
import numpy as np
import pandas as pd

In [9]:
# Define the characteristics of the participants
participant_characteristics = {
    "age": ["18-24", "25-34", "35-44", "45-54", "55-64", "65-74", "75+"],
    "race": ["American Indian or Alaskan Native", "Asian / Pacific Islander", 
             "Black or African American", "Hispanic", "White / Caucasian", 'Other'],
    "gender": ["Male", "Female"],
    "education_level": ["High school", "College", "Graduate school"],
    "personality_trait": ["Outgoing", "Reserved", "Analytical", "Creative", "Organized", "Reliable"],
    "interest": ["Sports", "Music", "Art", "Politics", "Science", "Technology"],
    'country':['United Kingdom'],
    'annual income':['£0', '£1 to £9999', '£10,000 to £24,999','£25,000 to £49,999', '£50,000 to £74,999', '£75,000 to £99,999', '£100,000 or more']
}

In [11]:
# Define the number of participants you want to generate
num_participants = 600

# Generate the participants
participants = []
for i in range(num_participants):
    age = np.random.choice(participant_characteristics["age"], p=[0.14, 0.19, 0.19, 0.17, 0.12, 0.09, 0.10])
    gender = np.random.choice(participant_characteristics["gender"], p=[0.49, 0.51])
    education_level = np.random.choice(participant_characteristics["education_level"], p=[0.22, 0.45, 0.33])
    personality_trait = np.random.choice(participant_characteristics["personality_trait"])
    interest = np.random.choice(participant_characteristics["interest"])
    participants.append({
        "participant_id": i+1,
        "age": age,
        "gender": gender,
        "education_level": education_level,
        "personality_trait": personality_trait,
        "interest": interest
    })
    
# Convert the participants list to a pandas DataFrame
df_participants = pd.DataFrame(participants)

# Save the participants to a CSV file
df_participants.to_csv("synthetic_participants.csv", index=False)

In [23]:
df_participants

     participant_id    age  gender  education_level personality_trait interest
0                 1  25-34    Male          College         Organized    Music
1                 2  25-34    Male          College        Analytical      Art
2                 3  45-54    Male          College          Creative  Science
3                 4  35-44    Male  Graduate school        Analytical  Science
4                 5  25-34  Female          College         Organized  Science
..              ...    ...     ...              ...               ...      ...
595             596  45-54    Male      High school         Organized      Art
596             597  25-34  Female          College        Analytical    Music
597             598  35-44  Female      High school          Reserved  Science
598             599  35-44    Male  Graduate school          Creative  Science
599             600  45-54    Male      High school          Creative      Art

[600 rows x 6 columns]

In [32]:
df_one = pd.get_dummies(df_participants["gender"])

df = df_participants
# display result
df_new = pd.concat((df_one, df), axis=1)
df_new = df_new.drop(["gender"], axis=1)
df_new = df_new.drop(["Male"], axis=1)
result = df_new.rename(columns={"Female": "Gender"})
result #0 if male and 1 if female 
#print(result)

     Gender  participant_id    age  education_level personality_trait interest
0         0               1  25-34          College         Organized    Music
1         0               2  25-34          College        Analytical      Art
2         0               3  45-54          College          Creative  Science
3         0               4  35-44  Graduate school        Analytical  Science
4         1               5  25-34          College         Organized  Science
..      ...             ...    ...              ...               ...      ...
595       0             596  45-54      High school         Organized      Art
596       1             597  25-34          College        Analytical    Music
597       1             598  35-44      High school          Reserved  Science
598       0             599  35-44  Graduate school          Creative  Science
599       0             600  45-54      High school          Creative      Art

[600 rows x 6 columns]

In [56]:
result.interest.value_counts(normalize=True)

Technology    0.206667
Science       0.176667
Art           0.166667
Music         0.161667
Sports        0.155000
Politics      0.133333
Name: interest, dtype: float64

In [ ]:
import openai
import pandas as pd

# Load synthetic data into a DataFrame called 'participants'
participants = pd.read_csv('synthetic_data.csv')

# Define the prompt based on the characteristics of the participants
prompt = "An experiment will be conducted to test the effectiveness of a new treatment on participants with the following characteristics:\n"
for col in participants.columns:
    if col != 'group':
        prompt += f"- {col}: {participants[col].unique().tolist()}\n"
prompt += "Will the treatment have a significant effect on the outcome variable?"

# Define the OpenAI API parameters
parameters = {
    "model": "text-davinci-002",
    "prompt": prompt,
    "temperature": 0.5,
    "max_tokens": 1024,
    "n": 1,
    "stop": "\n"
}

# Generate predictions for the prompt using the OpenAI API
openai.api_key = "YOUR_API_KEY" # replace with your own API key
response = openai.Completion.create(**parameters)

# Print the generated predictions
print(response.choices[0].text)